@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 " style="color:white">CRUD de tabla Trabajadores </h1>
    <h2 style="color:white">Empresa: Myper</h2>
    <h3 style="color:white">Postulante: Juan José Fiestas Arroyo</h3>
    <p>Learn about <a href="/Trabajadores">Redirigir a CRUD</a>.</p>

</div>
